<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>


        <!-- PostgreSQL Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/servicenow</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
 
        <!-- PostgreSQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>



		<!-- MySQL Dialect 
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		MySQL Database Connection Settings 
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3307/servicenow</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">toor</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		-->

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

		
		<!-- Specifying Session Context -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

		<!-- Mapping With Model Class Containing Annotations -->
		
		<mapping class="com.servicenow.db.pojo.IncidentPojo" />
		<mapping class="com.jcg.hibernate.maven.User" />
	</session-factory>
</hibernate-configuration>